h1 {
  font-size: 3.5rem;
  color: var(--text-primary);
  font-weight: 700;
  text-shadow: 0 0 3px rgb(var(--accent-rgb));
  /* margin-bottom: 1rem; */
}
p {
  color: var(--text-primary);
}
.muted {
  /* font-size: 1.5em; */
  color: var(--text-secondary);
}
a {
  color: var(--accent);
  cursor: pointer;
  text-decoration: underline;
}
